* {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    }

/* Mise en page de ma page d'accueil
    Utilisation flex-container */


.nav {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
    }

    ul.nav {
    margin-top: 30px;
    }

    a {
    text-decoration: none;
    }

    #logo {
      width: 120px;
      height: 90px;
      left: 40px;
      top: 5px;
      border-radius: 10px;
        }

    .accueil {
      border-radius: 30px;
      height: 30px;
      width: 12%;
      align-items: center;
      background-color: aqua;
    }

    .propos {
      border-radius: 30px;
      height: 30px;
      width: 12%;
      align-items: center;
      background-color: aqua;
    }

    .voyager {
      border-radius: 30px;
      height: 30px;
      width: 12%;
      align-items: center;
      background-color: aqua;
    }

    .contact {
      border-radius: 30px;
      height: 30px;
      width: 12%;
      align-items: center;
      background-color: aqua;
    }


  /* mon titre de site 
  Mon Voyage en Corse */

h1 {
    font-size: 40px;
    color: aliceblue;
    text-align: center;
}

/* creation de mon image d'accueil */

#accueil {
    background-image: url(./images/corse.jpg);
    height: 400px;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    padding: 20px;
    opacity: 0.9;
}

/* mise en page de mon footer*/

/* taille de mes 3 logos de reseaux-sociaux */

.twitter, .instagram, .facebook {
  
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.instagram {
  margin-left: 10px;
  margin-right: 10px;
}

/* flex de mes 3 logos de reseaux-sociaux */

.reseaux-sociaux{
  display: flex;
  align-items: center;
  width: 250px;
  height: 150px;  
}

/* flexbox de newsletter et reseaux-sociaux */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  margin-top: 50px;
  background-color: aqua;
  }

  .newsletter {
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    
  }

  .email {
    width: 100%;
    padding: 5px;
    border: 1px solid #DEDEDE;
    margin-bottom: 10px;
  }

  .submit {
    background-color: #DEDEDE;
    border: #DEDEDE;
    padding: 5px 10px;
  }

  /* span de saisissez votre adresse mail */

  span {
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
  }

  /* une marge à mon contenu newsletter et email */
  
  .footer-container {
    margin: 20px;
  }


/* Mise en page A Propos de moi
utilisation la méthode grid  */
/* need to overwrite inline dimensions */

img {
  width: 100%; 
  height: 100%;
}
h2 {
  margin-bottom: .5em;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: left;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 1em;
}

.location-image {
  line-height: 0;
  overflow: hidden;
}

.location-image img {
  filter: blur(0px);
  transition: filter 0.3s ease-in;
  transform: scale(1.1);
}


    
    




/* for touch screen devices */
@media screen (hover: none) { 
  .location-title {
    opacity: 1;
  }
  .location-image img {
    filter: blur(2px);
  }
}

