* {
    list-style: none;
    overflow: hidden;
    }

/* Mise en page de ma page d'accueil
    Utilisation flex-container */


.nav {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
    }

    ul.nav {
        margin-top: 30px;
    }

    a {
        text-decoration: none;
    }

    #logo {
        position: absolute;
        width: 120px;
        height: 90px;
        left: 40px;
        top: 5px;
        border-radius: 10px;
        }

    .accueil {
        border-radius: 30px;
        height: 30px;
        width: 12%;
        align-items: center;
        background-color: aqua;
    }

    .propos {
        border-radius: 30px;
        height: 30px;
        width: 12%;
        align-items: center;
        background-color: aqua;
    }

    .voyager {
        border-radius: 30px;
        height: 30px;
        width: 12%;
        align-items: center;
        background-color: aqua;
    }

    .contact {
        border-radius: 30px;
        height: 30px;
        width: 12%;
        align-items: center;
        background-color: aqua;
    }


/* mon titre de site */

h1 {
    font-size: 40px;
    color: aliceblue;
    text-align: center;
}

/* creation de mon image d'accueil */

#accueil {
    background-image: url(./images/corse.jpg);
    height: 400px;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    padding: 20px;
    opacity: 0.9;
}







/* Mise en page A Propos de moi
utilisation la méthode grid  */
/* need to overwrite inline dimensions */

img {
  width: 100%; 
  height: 100%;
}
h2 {
  margin-bottom: .5em;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: left;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 1em;
}

.location-image {
  line-height: 0;
  overflow: hidden;
}

.location-image img {
  filter: blur(0px);
  transition: filter 0.3s ease-in;
  transform: scale(1.1);
}

/* footer
    mise en page de footer (flexbox)*/

    footer h2{


    }
    
    




/* for touch screen devices */
@media (hover: none) { 
  .location-title {
    opacity: 1;
  }
  .location-image img {
    filter: blur(2px);
  }
}

